<link rel="stylesheet" href="/css/regis.css">
{{>header}}


<div class="formregis">
      <h1>Đổi mật khẩu admin</h1>
      <form method="POST" action="/account/changeadminpass">
        <div class="mb-3">
            <label for="name" class="form-label">Mật khẩu cũ </label>
            <input type="password" class="form-control" id="username" required name="oldpassword" placeholder="Mật khẩu cũ" >
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Mật khẩu mới</label>
            <input type="password" class="form-control" required id="password" name="newpassword" placeholder="Mật khẩu mới">
        </div>

        <p style="text-align: center; color: red; margin-top: 10px;">{{{errors}}}</p>

        <input id="submitbutton" type="submit" value="Đổi mật khẩu" />
    </form>
</div>